body {
    text-align: center;
    margin: 20px 20px;

    background-color: lightgreen;
    color: rgb(0, 66, 82);
}

h1,h4,p{
    margin: 30px 20px;
}


a {
    color: rgb(0, 66, 82);
    transition: all 0.2s;
    text-decoration: none;
}

a:hover {
 
    color: rgb(194, 255, 229);
    text-shadow: 0px 0px 5px black;
}

.carousel{
    width: 70vw;
}

.carousel-control-prev{
    position: absolute;
    top: 24vw;
    left:0vw
}

.carousel-control-next{
    position: absolute;
    top: 24vw;
    left: 75vw;
}


.carousel-inner{
    position: absolute;
    top: 0vw;
    left: 8vw
}

.carousel-indicators{
    position: absolute;
    top: 50vw;
    left: 17vw
}

input, button{
    border-radius: 9px;
    background-color: #bef8d6;
    
}

label{
    color: rgb(194, 255, 229);
    font-weight: bold;
    text-shadow: 0px 0px 5px black,0px 0px 5px black;
}